In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("example_train1.csv")
df.head()

                                            Document      Class
0         Teclov is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema

In [3]:
df.values

array([['Teclov is a great educational institution.', 'education'],
       ['Educational greatness depends on ethics', 'education'],
       ['A story of great ethics and educational greatness', 'education'],
       ['Sholey is a great cinema', 'cinema'],
       ['good movie depends on good story', 'cinema']], dtype=object)

In [4]:
df.count

<bound method DataFrame.count of                                             Document      Class
0         Teclov is a great educational institution.  education
1            Educational greatness depends on ethics  education
2  A story of great ethics and educational greatness  education
3                           Sholey is a great cinema     cinema
4                   good movie depends on good story     cinema>

In [5]:
df["Class"] = df.Class.map({"cinema":0, "education":1})

In [6]:
numpy_array = df.as_matrix()
X = numpy_array[:, 0]
y = numpy_array[:, 1]
y = y.astype("int")

C:\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [7]:
from sklearn.feature_extraction.text import CountVectorizer
vec = CountVectorizer()

In [8]:
vec.fit(X)
vec.vocabulary_

{'teclov': 15,
 'is': 9,
 'great': 6,
 'educational': 3,
 'institution': 8,
 'greatness': 7,
 'depends': 2,
 'on': 12,
 'ethics': 4,
 'story': 14,
 'of': 11,
 'and': 0,
 'sholey': 13,
 'cinema': 1,
 'good': 5,
 'movie': 10}

In [9]:
vec= CountVectorizer(stop_words="english")
vec.fit(X)
vec.vocabulary_

{'teclov': 11,
 'great': 5,
 'educational': 2,
 'institution': 7,
 'greatness': 6,
 'depends': 1,
 'ethics': 3,
 'story': 10,
 'sholey': 9,
 'cinema': 0,
 'good': 4,
 'movie': 8}

In [10]:
X_tran = vec.transform(X)
X_tran

<5x12 sparse matrix of type '<class 'numpy.int64'>'
	with 20 stored elements in Compressed Sparse Row format>

In [11]:
print(X_tran)

  (0, 2)	1
  (0, 5)	1
  (0, 7)	1
  (0, 11)	1
  (1, 1)	1
  (1, 2)	1
  (1, 3)	1
  (1, 6)	1
  (2, 2)	1
  (2, 3)	1
  (2, 5)	1
  (2, 6)	1
  (2, 10)	1
  (3, 0)	1
  (3, 5)	1
  (3, 9)	1
  (4, 1)	1
  (4, 4)	2
  (4, 8)	1
  (4, 10)	1

In [12]:
X = X_tran.toarray()
X

array([[0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0],
       [0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0],
       [1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0],
       [0, 1, 0, 0, 2, 0, 0, 0, 1, 0, 1, 0]], dtype=int64)

In [13]:
pd.DataFrame(X, columns=vec.get_feature_names())

,cinema,depends,educational,ethics,good,great,greatness,institution,movie,sholey,story,teclov
0,0,0,1,0,0,1,0,1,0,0,0,1
1,0,1,1,1,0,0,1,0,0,0,0,0
2,0,0,1,1,0,1,1,0,0,0,1,0
3,1,0,0,0,0,1,0,0,0,1,0,0
4,0,1,0,0,2,0,0,0,1,0,1,0

In [14]:
test = pd.read_excel("example_test.xlsx")
test

                            Document      Class
0  very good educational institution  education

In [15]:
test["Class"] = 1
test

                            Document  Class
0  very good educational institution      1

In [16]:
numpy_array = test.as_matrix()
Xtest = numpy_array[:, 0]
ytest = numpy_array[:, 1]
ytest = ytest.astype("int")

C:\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Method .as_matrix will be removed in a future version. Use .values instead.
  """Entry point for launching an IPython kernel.

In [17]:
X_tran = vec.transform(Xtest)
X_tran

<1x12 sparse matrix of type '<class 'numpy.int64'>'
	with 3 stored elements in Compressed Sparse Row format>

In [18]:
print(X_tran)

  (0, 2)	1
  (0, 4)	1
  (0, 7)	1

In [19]:
Xtest = X_tran.toarray()
Xtest

array([[0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0]], dtype=int64)

In [22]:
from sklearn.naive_bayes import MultinomialNB

mnb = MultinomialNB()
mnb.fit(X, y)
proba = mnb.predict_proba(Xtest)

In [23]:
print("Prob for cinema", proba[:, 0])
print("Prob for education", proba[:, 1])

Prob for cinema [0.32808399]
Prob for cinema [0.67191601]

In [24]:
pd.DataFrame(proba, columns=["Cinema", "Education"])

     Cinema  Education
0  0.328084   0.671916

In [25]:
from sklearn.naive_bayes import BernoulliNB

bnb = BernoulliNB()
bnb.fit(X, y)
proba = bnb.predict_proba(Xtest)
pd.DataFrame(proba, columns=["Cinema", "Education"])

     Cinema  Education
0  0.232637   0.767363