In [1]:
import pandas as pd
import numpy as np

In [2]:
churnData = pd.read_csv("churn_data.csv")
customerData = pd.read_csv("customer_data.csv")
internetData = pd.read_csv("internet_data.csv")

In [3]:
df_l = pd.merge(churnData, customerData, how="inner", on="customerID")
telecom = pd.merge(df_l, internetData, how="inner", on="customerID")
telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,Partner,Dependents,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Female,...,Yes,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No,Male,...,No,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Male,...,No,No,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Male,...,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Female,...,No,No,No,Fiber optic,No,No,No,No,No,No

In [4]:
telecom.describe()

            tenure  MonthlyCharges  SeniorCitizen
count  7043.000000     7043.000000    7043.000000
mean     32.371149       64.761692       0.162147
std      24.559481       30.090047       0.368612
min       0.000000       18.250000       0.000000
25%       9.000000       35.500000       0.000000
50%      29.000000       70.350000       0.000000
75%      55.000000       89.850000       0.000000
max      72.000000      118.750000       1.000000

In [5]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 21 columns):
customerID          7043 non-null object
tenure              7043 non-null int64
PhoneService        7043 non-null object
Contract            7043 non-null object
PaperlessBilling    7043 non-null object
PaymentMethod       7043 non-null object
MonthlyCharges      7043 non-null float64
TotalCharges        7043 non-null object
Churn               7043 non-null object
gender              7043 non-null object
SeniorCitizen       7043 non-null int64
Partner             7043 non-null object
Dependents          7043 non-null object
MultipleLines       7043 non-null object
InternetService     7043 non-null object
OnlineSecurity      7043 non-null object
OnlineBackup        7043 non-null object
DeviceProtection    7043 non-null object
TechSupport         7043 non-null object
StreamingTV         7043 non-null object
StreamingMovies     7043 non-null object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

In [6]:
telecom["PhoneService"] = telecom["PhoneService"].map({"Yes":1, "No":0})
telecom["PaperlessBilling"] = telecom["PaperlessBilling"].map({"Yes":1, "No":0})
telecom["Churn"] = telecom["Churn"].map({"Yes":1, "No":0})
telecom["Partner"] = telecom["Partner"].map({"Yes":1, "No":0})
telecom["Dependents"] = telecom["Dependents"].map({"Yes":1, "No":0})

In [7]:
cont = pd.get_dummies(telecom["Contract"], prefix= "Contract", drop_first=True)
telecom = pd.concat([telecom, cont], axis= 1)

cont = pd.get_dummies(telecom["PaymentMethod"], prefix= "PaymentMethod", drop_first=True)
telecom = pd.concat([telecom, cont], axis= 1)

cont = pd.get_dummies(telecom["gender"], prefix= "gender", drop_first=True)
telecom = pd.concat([telecom, cont], axis= 1)

cont = pd.get_dummies(telecom["MultipleLines"], prefix= "MultipleLines")
ml1 = cont.drop(["MultipleLines_No phone service"], 1)
telecom = pd.concat([telecom, ml1], axis= 1)

cont = pd.get_dummies(telecom["InternetService"], prefix= "InternetService", drop_first=True)
telecom = pd.concat([telecom, cont], axis= 1)

cont = pd.get_dummies(telecom["OnlineSecurity"], prefix= "OnlineSecurity")
ml1 = cont.drop(["OnlineSecurity_No internet service"], 1)
telecom = pd.concat([telecom, ml1], axis= 1)

cont = pd.get_dummies(telecom["OnlineBackup"], prefix= "OnlineBackup")
ml1 = cont.drop(["OnlineBackup_No internet service"], 1)
telecom = pd.concat([telecom, ml1], axis= 1)

cont = pd.get_dummies(telecom["DeviceProtection"], prefix= "DeviceProtection")
ml1 = cont.drop(["DeviceProtection_No internet service"], 1)
telecom = pd.concat([telecom, ml1], axis= 1)

cont = pd.get_dummies(telecom["TechSupport"], prefix= "TechSupport")
ml1 = cont.drop(["TechSupport_No internet service"], 1)
telecom = pd.concat([telecom, ml1], axis= 1)

cont = pd.get_dummies(telecom["StreamingTV"], prefix= "StreamingTV")
ml1 = cont.drop(["StreamingTV_No internet service"], 1)
telecom = pd.concat([telecom, ml1], axis= 1)

cont = pd.get_dummies(telecom["StreamingMovies"], prefix= "StreamingMovies")
ml1 = cont.drop(["StreamingMovies_No internet service"], 1)
telecom = pd.concat([telecom, ml1], axis= 1)

telecom.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn,gender,...,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
0,7590-VHVEG,1,0,Month-to-month,1,Electronic check,29.85,29.85,0,Female,...,0,1,1,0,1,0,1,0,1,0
1,5575-GNVDE,34,1,One year,0,Mailed check,56.95,1889.5,0,Male,...,1,0,0,1,1,0,1,0,1,0
2,3668-QPYBK,2,1,Month-to-month,1,Mailed check,53.85,108.15,1,Male,...,0,1,1,0,1,0,1,0,1,0
3,7795-CFOCW,45,0,One year,0,Bank transfer (automatic),42.30,1840.75,0,Male,...,1,0,0,1,0,1,1,0,1,0
4,9237-HQITU,2,1,Month-to-month,1,Electronic check,70.70,151.65,1,Female,...,1,0,1,0,1,0,1,0,1,0

In [8]:
telecom.columns

Index(['customerID', 'tenure', 'PhoneService', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn', 'gender',
       'SeniorCitizen', 'Partner', 'Dependents', 'MultipleLines',
       'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
       'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check',
       'gender_Male', 'MultipleLines_No', 'MultipleLines_Yes',
       'InternetService_Fiber optic', 'InternetService_No',
       'OnlineSecurity_No', 'OnlineSecurity_Yes', 'OnlineBackup_No',
       'OnlineBackup_Yes', 'DeviceProtection_No', 'DeviceProtection_Yes',
       'TechSupport_No', 'TechSupport_Yes', 'StreamingTV_No',
       'StreamingTV_Yes', 'StreamingMovies_No', 'StreamingMovies_Yes'],
      dtype='object')

In [9]:
telecom = telecom.drop(["Contract", "PaymentMethod", "gender", 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies'], axis= 1)

In [10]:
telecom.head()

,customerID,tenure,PhoneService,PaperlessBilling,MonthlyCharges,TotalCharges,Churn,SeniorCitizen,Partner,Dependents,...,OnlineBackup_No,OnlineBackup_Yes,DeviceProtection_No,DeviceProtection_Yes,TechSupport_No,TechSupport_Yes,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes
0,7590-VHVEG,1,0,1,29.85,29.85,0,0,1,0,...,0,1,1,0,1,0,1,0,1,0
1,5575-GNVDE,34,1,0,56.95,1889.5,0,0,0,0,...,1,0,0,1,1,0,1,0,1,0
2,3668-QPYBK,2,1,1,53.85,108.15,1,0,0,0,...,0,1,1,0,1,0,1,0,1,0
3,7795-CFOCW,45,0,0,42.30,1840.75,0,0,0,0,...,1,0,0,1,0,1,1,0,1,0
4,9237-HQITU,2,1,1,70.70,151.65,1,0,0,0,...,1,0,1,0,1,0,1,0,1,0

In [11]:
telecom["TotalCharges"] = telecom["TotalCharges"].convert_objects(convert_numeric=True)

C:\Python\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  To re-infer data dtypes for object columns, use Series.infer_objects()
For all other conversions use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

In [12]:
telecom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7043 entries, 0 to 7042
Data columns (total 32 columns):
customerID                               7043 non-null object
tenure                                   7043 non-null int64
PhoneService                             7043 non-null int64
PaperlessBilling                         7043 non-null int64
MonthlyCharges                           7043 non-null float64
TotalCharges                             7032 non-null float64
Churn                                    7043 non-null int64
SeniorCitizen                            7043 non-null int64
Partner                                  7043 non-null int64
Dependents                               7043 non-null int64
Contract_One year                        7043 non-null uint8
Contract_Two year                        7043 non-null uint8
PaymentMethod_Credit card (automatic)    7043 non-null uint8
PaymentMethod_Electronic check           7043 non-null uint8
PaymentMethod_Mailed check               7043 non-null uint8
gender_Male                              7043 non-null uint8
MultipleLines_No                         7043 non-null uint8
MultipleLines_Yes                        7043 non-null uint8
InternetService_Fiber optic              7043 non-null uint8
InternetService_No                       7043 non-null uint8
OnlineSecurity_No                        7043 non-null uint8
OnlineSecurity_Yes                       7043 non-null uint8
OnlineBackup_No                          7043 non-null uint8
OnlineBackup_Yes                         7043 non-null uint8
DeviceProtection_No                      7043 non-null uint8
DeviceProtection_Yes                     7043 non-null uint8
TechSupport_No                           7043 non-null uint8
TechSupport_Yes                          7043 non-null uint8
StreamingTV_No                           7043 non-null uint8
StreamingTV_Yes                          7043 non-null uint8
StreamingMovies_No                       7043 non-null uint8
StreamingMovies_Yes                      7043 non-null uint8
dtypes: float64(2), int64(7), object(1), uint8(22)
memory usage: 756.6+ KB

In [13]:
num_telecom = telecom[["tenure", "MonthlyCharges", "SeniorCitizen", "TotalCharges"]]
num_telecom.describe(percentiles=[.25, .5, .75, .90, .95, .99])

            tenure  MonthlyCharges  SeniorCitizen  TotalCharges
count  7043.000000     7043.000000    7043.000000   7032.000000
mean     32.371149       64.761692       0.162147   2283.300441
std      24.559481       30.090047       0.368612   2266.771362
min       0.000000       18.250000       0.000000     18.800000
25%       9.000000       35.500000       0.000000    401.450000
50%      29.000000       70.350000       0.000000   1397.475000
75%      55.000000       89.850000       0.000000   3794.737500
90%      69.000000      102.600000       1.000000   5976.640000
95%      72.000000      107.400000       1.000000   6923.590000
99%      72.000000      114.729000       1.000000   8039.883000
max      72.000000      118.750000       1.000000   8684.800000

In [18]:
telecom.isnull

<bound method DataFrame.isnull of       customerID  tenure  PhoneService  PaperlessBilling  MonthlyCharges  \
0     7590-VHVEG       1             0                 1           29.85
1     5575-GNVDE      34             1                 0           56.95
2     3668-QPYBK       2             1                 1           53.85
3     7795-CFOCW      45             0                 0           42.30
4     9237-HQITU       2             1                 1           70.70
5     9305-CDSKC       8             1                 1           99.65
6     1452-KIOVK      22             1                 1           89.10
7     6713-OKOMC      10             0                 0           29.75
8     7892-POOKP      28             1                 1          104.80
9     6388-TABGU      62             1                 0           56.15
10    9763-GRSKD      13             1                 1           49.95
11    7469-LKBCI      16             1                 0           18.95
12    8091-TTVAX      58             1                 0          100.35
13    0280-XJGEX      49             1                 1          103.70
14    5129-JLPIS      25             1                 1          105.50
15    3655-SNQYZ      69             1                 0          113.25
16    8191-XWSZG      52             1                 0           20.65
17    9959-WOFKT      71             1                 0          106.70
18    4190-MFLUW      10             1                 0           55.20
19    4183-MYFRB      21             1                 1           90.05
20    8779-QRDMV       1             0                 1           39.65
21    1680-VDCWW      12             1                 0           19.80
22    1066-JKSGK       1             1                 0           20.15
23    3638-WEABW      58             1                 1           59.90
24    6322-HRPFA      49             1                 0           59.60
25    6865-JZNKO      30             1                 1           55.30
26    6467-CHFZW      47             1                 1           99.35
27    8665-UTDHZ       1             0                 0           30.20
28    5248-YGIJN      72             1                 1           90.25
29    8773-HHUOZ      17             1                 1           64.70
...          ...     ...           ...               ...             ...
7013  1685-BQULA      40             1                 1           93.40
7014  9053-EJUNL      41             1                 1           89.20
7015  0666-UXTJO      34             1                 1           85.20
7016  1471-GIQKQ       1             1                 0           49.95
7017  4807-IZYOZ      51             1                 0           20.65
7018  1122-JWTJW       1             1                 1           70.65
7019  9710-NJERN      39             1                 0           20.15
7020  9837-FWLCH      12             1                 1           19.20
7021  1699-HPSBG      12             1                 1           59.80
7022  7203-OYKCT      72             1                 1          104.95
7023  1035-IPQPU      63             1                 1          103.50
7024  7398-LXGYX      44             1                 1           84.80
7025  2823-LKABH      18             1                 1           95.05
7026  8775-CEBBJ       9             1                 1           44.20
7027  0550-DCXLH      13             1                 0           73.35
7028  9281-CEDRU      68             1                 0           64.10
7029  2235-DWLJU       6             0                 1           44.40
7030  0871-OPBXW       2             1                 1           20.05
7031  3605-JISKB      55             1                 0           60.00
7032  6894-LFHLY       1             1                 1           75.75
7033  9767-FFLEM      38             1                 1           69.50
7034  0639-TSIQW      67             1                 1          102.95
7035  8456-QDAVC      19             1                 1           78.70
7036  7750-EYXWZ      12             0                 0           60.65
7037  2569-WGERO      72             1                 1           21.15
7038  6840-RESVB      24             1                 1           84.80
7039  2234-XADUH      72             1                 1          103.20
7040  4801-JZAZL      11             0                 1           29.60
7041  8361-LTMKD       4             1                 1           74.40
7042  3186-AJIEK      66             1                 1          105.65

      TotalCharges  Churn  SeniorCitizen  Partner  Dependents  ...  \
0            29.85      0              0        1           0  ...
1          1889.50      0              0        0           0  ...
2           108.15      1              0        0           0  ...
3          1840.75      0              0        0           0  ...
4           151.65      1              0        0           0  ...
5           820.50      1              0        0           0  ...
6          1949.40      0              0        0           1  ...
7           301.90      0              0        0           0  ...
8          3046.05      1              0        1           0  ...
9          3487.95      0              0        0           1  ...
10          587.45      0              0        1           1  ...
11          326.80      0              0        0           0  ...
12         5681.10      0              0        1           0  ...
13         5036.30      1              0        0           0  ...
14         2686.05      0              0        0           0  ...
15         7895.15      0              0        1           1  ...
16         1022.95      0              0        0           0  ...
17         7382.25      0              0        0           1  ...
18          528.35      1              0        1           1  ...
19         1862.90      0              0        0           0  ...
20           39.65      1              1        0           0  ...
21          202.25      0              0        1           0  ...
22           20.15      1              0        0           0  ...
23         3505.10      0              0        1           0  ...
24         2970.30      0              0        1           1  ...
25         1530.60      0              0        0           0  ...
26         4749.15      1              0        1           1  ...
27           30.20      1              0        1           1  ...
28         6369.45      0              0        1           0  ...
29         1093.10      1              0        0           1  ...
...            ...    ...            ...      ...         ...  ...
7013       3756.40      0              0        0           0  ...
7014       3645.75      0              0        0           0  ...
7015       2874.45      0              1        1           0  ...
7016         49.95      0              0        0           0  ...
7017       1020.75      0              0        0           0  ...
7018         70.65      1              0        1           1  ...
7019        826.00      0              0        0           0  ...
7020        239.00      0              0        1           1  ...
7021        727.80      1              0        0           0  ...
7022       7544.30      0              0        0           0  ...
7023       6479.40      0              1        1           0  ...
7024       3626.35      0              0        1           0  ...
7025       1679.40      0              0        0           0  ...
7026        403.35      1              0        0           0  ...
7027        931.55      0              0        0           0  ...
7028       4326.25      0              0        1           0  ...
7029        263.05      0              1        0           0  ...
7030         39.25      0              0        0           0  ...
7031       3316.10      0              1        1           0  ...
7032         75.75      1              1        0           0  ...
7033       2625.25      0              0        0           0  ...
7034       6886.25      1              0        0           0  ...
7035       1495.10      0              0        0           0  ...
7036        743.30      0              0        0           0  ...
7037       1419.40      0              0        0           0  ...
7038       1990.50      0              0        1           1  ...
7039       7362.90      0              0        1           1  ...
7040        346.45      0              0        1           1  ...
7041        306.60      1              1        1           0  ...
7042       6844.50      0              0        0           0  ...

      OnlineBackup_No  OnlineBackup_Yes  DeviceProtection_No  \
0                   0                 1                    1
1                   1                 0                    0
2                   0                 1                    1
3                   1                 0                    0
4                   1                 0                    1
5                   1                 0                    0
6                   0                 1                    1
7                   1                 0                    1
8                   1                 0                    0
9                   0                 1                    1
10                  1                 0                    1
11                  0                 0                    0
12                  1                 0                    0
13                  0                 1                    0
14                  1                 0                    0
15                  0                 1                    0
16                  0                 0                    0
17                  1                 0                    0
18                  1                 0                    0
19                  0                 1                    0
20                  1                 0                    0
21                  0                 0                    0
22                  0                 0                    0
23                  0                 1                    1
24                  0                 1                    1
25                  0                 1                    1
26                  0                 1                    1
27                  0                 1                    1
28                  0                 1                    0
29                  1                 0                    1
...               ...               ...                  ...
7013                0                 1                    0
7014                0                 1                    1
7015                1                 0                    0
7016                0                 1                    1
7017                0                 0                    0
7018                1                 0                    1
7019                0                 0                    0
7020                0                 0                    0
7021                1                 0                    1
7022                0                 1                    0
7023                0                 1                    0
7024                1                 0                    0
7025                1                 0                    0
7026                1                 0                    1
7027                0                 1                    1
7028                0                 1                    1
7029                1                 0                    1
7030                0                 0                    0
7031                0                 1                    1
7032                1                 0                    1
7033                1                 0                    1
7034                0                 1                    0
7035                1                 0                    1
7036                0                 1                    0
7037                0                 0                    0
7038                1                 0                    0
7039                0                 1                    0
7040                1                 0                    1
7041                1                 0                    1
7042                1                 0                    0

      DeviceProtection_Yes  TechSupport_No  TechSupport_Yes  StreamingTV_No  \
0                        0               1                0               1
1                        1               1                0               1
2                        0               1                0               1
3                        1               0                1               1
4                        0               1                0               1
5                        1               1                0               0
6                        0               1                0               0
7                        0               1                0               1
8                        1               0                1               0
9                        0               1                0               1
10                       0               1                0               1
11                       0               0                0               0
12                       1               1                0               0
13                       1               1                0               0
14                       1               0                1               0
15                       1               0                1               0
16                       0               0                0               0
17                       1               1                0               0
18                       1               0                1               1
19                       1               1                0               1
20                       1               1                0               1
21                       0               0                0               0
22                       0               0                0               0
23                       0               0                1               1
24                       0               0                1               1
25                       0               1                0               1
26                       0               1                0               0
27                       0               1                0               1
28                       1               0                1               0
29                       0               1                0               0
...                    ...             ...              ...             ...
7013                     1               1                0               0
7014                     0               1                0               0
7015                     1               1                0               0
7016                     0               1                0               1
7017                     0               0                0               0
7018                     0               1                0               1
7019                     0               0                0               0
7020                     0               0                0               0
7021                     0               0                1               0
7022                     1               1                0               0
7023                     1               1                0               0
7024                     1               1                0               1
7025                     1               0                1               1
7026                     0               1                0               1
7027                     0               0                1               0
7028                     0               0                1               0
7029                     0               1                0               0
7030                     0               0                0               0
7031                     0               1                0               1
7032                     0               1                0               1
7033                     0               1                0               1
7034                     1               1                0               0
7035                     0               1                0               0
7036                     1               0                1               0
7037                     0               0                0               0
7038                     1               0                1               0
7039                     1               1                0               0
7040                     0               1                0               1
7041                     0               1                0               1
7042                     1               0                1               0

      StreamingTV_Yes  StreamingMovies_No  StreamingMovies_Yes
0                   0                   1                    0
1                   0                   1                    0
2                   0                   1                    0
3                   0                   1                    0
4                   0                   1                    0
5                   1                   0                    1
6                   1                   1                    0
7                   0                   1                    0
8                   1                   0                    1
9                   0                   1                    0
10                  0                   1                    0
11                  0                   0                    0
12                  1                   0                    1
13                  1                   0                    1
14                  1                   0                    1
15                  1                   0                    1
16                  0                   0                    0
17                  1                   0                    1
18                  0                   1                    0
19                  0                   0                    1
20                  0                   0                    1
21                  0                   0                    0
22                  0                   0                    0
23                  0                   1                    0
24                  0                   1                    0
25                  0                   1                    0
26                  1                   0                    1
27                  0                   1                    0
28                  1                   0                    1
29                  1                   0                    1
...               ...                 ...                  ...
7013                1                   1                    0
7014                1                   1                    0
7015                1                   1                    0
7016                0                   1                    0
7017                0                   0                    0
7018                0                   1                    0
7019                0                   0                    0
7020                0                   0                    0
7021                1                   1                    0
7022                1                   0                    1
7023                1                   0                    1
7024                0                   1                    0

In [19]:
telecom = telecom[~np.isnan(telecom["TotalCharges"])]

In [20]:
df = telecom[["tenure", "MonthlyCharges", "TotalCharges"]]
normalized_df = (df- df.mean())/df.std()

In [21]:
telecom = telecom.drop(["tenure", "MonthlyCharges", "TotalCharges"], axis= 1)

In [23]:
telecom = pd.concat([telecom, normalized_df], axis= 1)
telecom.head()

,customerID,PhoneService,PaperlessBilling,Churn,SeniorCitizen,Partner,Dependents,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),...,StreamingTV_No,StreamingTV_Yes,StreamingMovies_No,StreamingMovies_Yes,tenure,MonthlyCharges,TotalCharges,tenure,MonthlyCharges,TotalCharges
0,7590-VHVEG,0,1,0,0,1,0,0,0,0,...,1,0,1,0,-1.280157,-1.161611,-0.994123,-1.280157,-1.161611,-0.994123
1,5575-GNVDE,1,0,0,0,0,0,1,0,0,...,1,0,1,0,0.064298,-0.260859,-0.173727,0.064298,-0.260859,-0.173727
2,3668-QPYBK,1,1,1,0,0,0,0,0,0,...,1,0,1,0,-1.239416,-0.363897,-0.959581,-1.239416,-0.363897,-0.959581
3,7795-CFOCW,0,0,0,0,0,0,1,0,0,...,1,0,1,0,0.512450,-0.747797,-0.195234,0.512450,-0.747797,-0.195234
4,9237-HQITU,1,1,1,0,0,0,0,0,0,...,1,0,1,0,-1.239416,0.196164,-0.940391,-1.239416,0.196164,-0.940391

In [24]:
churn = (sum(telecom["Churn"])/len(telecom["Churn"].index)) * 100
churn

26.578498293515356

In [ ]:
from sklearn.model_selection import train_test_split
X = telecom.drop([""])

Xtrain, Xtest, ytrain, ytest